<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Q+</string>
  <key>uuid</key>
  <string>a7e4c8d1-9b2f-4e5a-8c3d-6f1a0b9e2d47</string>
</dict>
</plist>
